body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

#content {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


.content__row {
    display: flex;
    position: relative;
}

.title-container {
    margin-top: 20px;
    border: 1px solid black;
    position: relative;
}

.title-container__inner {
    padding: 1rem;
}

.title-container__title {
    position: absolute;
    top: -10px;
    left: 10px;
    margin: 0;
    background: white;
    padding: 0 10px 0 10px;
    font-weight: bold;
}

.title-container__name--divider {
    width: 320px;
    border-bottom: 1px solid black;
}

.title-container__name {
    padding: 20px 20px 0 20px;
}

.title-container__paragraph {
    padding: 10px 0 0 0;
}

#hero {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stats {
    margin-right: 20px;
}

#socials {
    align-self: flex-end;
    margin: auto auto 0;
}

#projects {
    height: 500px;
}

#footer {
    height: 100px;
}

.stats__row {
    width: 200px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.stats__text {
    font-size: 14px;
    color: #757575;
    padding: 10px 10px 5px 10px;
}

.bio__text-container {
    padding: 0;
}

.black {
    color: black;
}

.hero__avatar-container {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    right: 50px;
    bottom: -150px;
}

.hero__image-container {
    overflow: hidden;
    height: 250px;
}

.hero__image {
    width: 100%;
    height: auto;
}

.socials__container {
    display: flex;
    padding: 0.5rem 0 0 0;
}

.socials__button {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    transition: 0.3s;
}

.socials__button:hover {
    background: darkgray;
    color: white;
    cursor: pointer;
}

.footer__text {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

@media (min-width: 576px) {
    #content {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #content {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    #content {
        max-width: 960px;
    }
}

@media (min-width: 1170px) {
    #content {
        max-width: 1140px;
    }
}


@media (max-width: 2000px) {
    #bio-block {
        display: none;
    }

    #bio-row {
        margin-right: 50px;
    }
}

@media (max-width: 1170px) {
    #bio-block {
        display: none;
    }

    .hero__avatar-container {
        right: 10px;
    }

    #bio-row {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .hero__avatar-container {
        right: 30px;
    }

    .socials__button {
        margin: 0 2px 0 2px;
    }

    #bio-row {
        display: none;
    }

    #bio-block {
        display: block;
    }
}

@media (max-width: 768px) {
    .hero__avatar-container {
        position: absolute;
        width: 250px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 10px;
        text-align: center;
    }

    .hero__image {
        width: 100%;
        height: 100%;
    }

    .title-container__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content__row {
        display: block;
    }

    #stats {
        margin-right: 0;
    }

    .bio {
        width: 100%;
    }

    #socials {
        margin-top: 20px;
    }

    .stats__row {
        width: 100%;
    }

    .title-container__name {
        font-size: 28px;
        padding: 0;
    }

    .title-container__name--divider {
        width: 100%;
    }

    .socials__container {
        flex-direction: column;
        width: 100%;
    }

    .socials__button {
        margin: 0 0 5px 0;
    }
}


